/* #Global
================================================== */
@media (max-width: 1023.98px) {
  .header {
    background-color: var(--color-tiktok-red);
  }

  .header-logo {
    display: block;
  }
}

/* #Hero
================================================== */
.hero {
  position: relative;
  color: white;
  background-color: var(--color-tiktok-red);
  padding-bottom: 1.56vw;
  margin-top: 2.55vw;
}

.hero .container {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.hero h1 {
  line-height: 1;
}

@media (max-width: 1023.98px) {
  .hero {
    padding-bottom: 0;
    margin-top: 18vw;
  }

  .hero .container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}

/* #Contact
================================================== */
.contact {
  padding: 3.65vw 0;
}

.contact .container {
  width: 87%;
}

.contact p {
  max-width: 41.15vw;
  line-height: 1.2;
  margin-bottom: 1.5vw;
}

.contact p span {
  display: block;
  margin-bottom: .5vw;
}

.contact .form label {
  display: block;
  line-height: 2.6;
}

.contact .form input[type="text"],
.contact .form textarea {
  border: 1px solid black;
  color: black;
  border-radius: 500px;
  padding-right: 1vw;
  padding-left: 1vw;
  transition: all .3s ease;
  font-size: inherit;
}

.contact .form input[type="text"] {
  height: 2.6vw;
}

.contact .form textarea {
  border-radius: 1.04vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
}

.contact .form input[type="text"]:focus,
.contact .form textarea:focus {
  box-shadow: inset 0 0 1px 1px black;
}

.contact .form input[type="text"]::placeholder,
.contact .form textarea::placeholder {
  color: black;
}

.contact .form input[type="text"],
.contact .form textarea {
  width: 26vw;
}

.contact .form-group-toggle {
  display: flex;
  margin: 1.3vw 0;
}

.contact .form-group-toggle .toggle-switch {
  flex-shrink: 0;
}

.contact .form-group-toggle p {
  margin: 0;
  font-size: 0.83vw;
  margin-right: 0.4vw;
}

@media (max-width: 1023.98px) {
  .contact {
    padding: 5.3vw 0;
  }

  .contact .container {
    width: 85%;
  }

  .contact p {
    max-width: 95%;
    margin-bottom: 7.5vw;
  }
  
  .contact p span {
    margin-bottom: 1.5vw;
  }

  .contact .form label {
    line-height: 2;
  }
 
  .contact .form input[type="text"],
  .contact .form textarea {
    width: 100%;
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 3.2vw;
  }

  .contact .form input[type="text"] {
    height: 10.6vw;
  }

  .contact .form-group-toggle {
    margin: 5.3vw 0 8vw 0;
  }

  .contact .form-group-toggle p {
    font-size: 3.7vw;
    margin-right: 2.1vw;
    line-height: 1;
  }
}