/* #Hero
================================================== */
.hero {
  background-color: white;
  position: relative;
}

.hero-video {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: relative;
}

.hero-video.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: 1;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-video-text {
  text-align: center;
  color: white;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67%;
}

.hero-video-text h2 {
  font-size: 2.6vw!important;
  font-family: 'ploni';
  line-height: 1;
  margin-bottom: 3.2vw;
}

.hero-video-text a,
.hero-video-text button {
  font-size: 1.56vw!important;
  height: 4vw;
}

.hero-animation-top,
.hero-animation-bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.hero-animation-top .red-box,
.hero-animation-bottom .red-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tiktok-red);
  z-index: 1;
}

.hero-animation-top .blue-box,
.hero-animation-bottom .blue-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tiktok-blue);
  z-index: 2;
}

.hero-arrow {
  position: absolute;
  bottom: 2%;
  left: 4%;
}

.hero-arrow img {
  width: 3.4vw;
}

@media (max-width: 1023.98px) {
  .hero-video-text {
    width: 85%;
  }

  .hero-video-text h2 {
    font-size: 6.4vw!important;
    margin-bottom: 10vw;
  }

  .hero-video-text a,
  .hero-video-text button {
    font-size: 5.85vw!important;
    height: 13.3vw;
  }

  .hero-arrow {
    position: absolute;
    bottom: 9.3vw;
    left: 8vw;
  }

  .hero-arrow img {
    width: 7.2vw;
  }
}

/* #Grow
================================================== */
.grow {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.grow .bg-img,
.grow .bg-img img,
.grow .bg-img picture {
  width: 100%;
}

.grow .container {
  width: 50%;

  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grow h1 {
  margin: 0 auto 4.25vw auto;
  max-width: 70%;
  line-height: 1;
}

.grow p {
  line-height: 1.3;
}

@media (max-width: 1023.98px) {
  .grow .container {
    width: 85%;
    position: static;
    transform: none;
    padding: 16vw 0 19.7vw 0;
  }

  .grow h1 {
    margin: 0 auto 12.3vw auto;
    max-width: 100%;
  }

  .grow p span {
    display: block;
    margin-top: 6.66vw;
  }

  .grow .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .grow .bg-img img,
  .grow .bg-img picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* #How To
================================================== */
.how-to {
  background-color: var(--color-tiktok-blue);
  padding: 6vw 0 8.85vw 0;
}

.how-to .container {
  max-width: 78%;
}

.how-to h2 {
  text-align: center;
  margin-bottom: 4.4vw;
}

.how-to .media-block {
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  align-items: center;
  column-gap: 6vw;
}

.how-to video {
  width: 100%;
}

.how-to p {
  line-height: 1.25;
  margin-bottom: 2.6vw;
}

@media (max-width: 1023.98px) {
  .how-to {
    text-align: center;
    padding: 12vw 0 16.8vw 0;
  }

  .how-to .container {
    max-width: 85%;
  }

  .how-to h2 {
    margin-bottom: 11.2vw;
  }

  .how-to .media-block {
    display: block;
  }
  
  .how-to video {
    margin-bottom: 10vw;
  }

  .how-to p {
    margin-bottom: 10vw;
    line-height: 1.6;
  }
}

/* #Why
================================================== */
.why {
  text-align: center;
  position: relative;
  padding: 5.2vw 0 6.25vw 0;
}

.why .container {
  width: 80%;
}

.why h2 {
  margin-bottom: 5.2vw;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10vw;
  row-gap: 5.25vw;
  align-items: start;
}

.why li {
  position: relative;
}

.why li:hover::before,
.why li:hover::after {
  opacity: 1;
  visibility: visible;
}

.why li::before,
.why li::after {
  content: '';
  position: absolute;
  width: 2.86vw;
  height: 2.86vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}

.why li::before {
  bottom: 0;
  left: 0;
  background-image: url('../img/icons/bg-shape-1.svg');
  transform: translate(-50%, 50%);
}

.why li::after {
  top: 0;
  right: 0;
  background-image: url('../img/icons/bg-shape-2.svg');
  transform: translate(25%, -25%);
}

.why li:hover h3 {
  color: var(--color-tiktok-red);
}

.why h3 {
  margin-bottom: 1vw;
  transition: all .3s ease;
}

.why p {
  line-height: 1.5;
}

@media (max-width: 1023.98px) {
  .why {
    padding: 13.3vw 0;
  }

  .why .container {
    width: 85%;
  }

  .why-grid {
    display: block;
  }

  .why li::before,
  .why li::after {
    display: none;
  }

  .why h2 {
    margin-bottom: 10.7vw;
  }
  
  .why h3 {
    margin-bottom: 2.5vw;
    color: black!important;
  }

  .why li:hover h3 {
    color: black;
  }

  .why p {
    line-height: 1.3;
  }

  .why li:not(:last-child) {
    margin-bottom: 10.5vw;
  }

  .why li:nth-child(3)::before,
  .why li:nth-child(3)::after {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 9.3vw;
    height: 9.3vw;
  }

  .why li:nth-child(3)::before {
    transform: translate(-25%, 75%);
  }

  .why li:nth-child(3) h3 {
    color: var(--color-tiktok-red)!important;
  }
}

/* #Get Inspired
================================================== */
.get-inspired {
  padding: 3.5vw 0 4.15vw 0;
  background-color: var(--color-tiktok-blue);
  text-align: center;
}

.get-inspired h2 {
  margin-bottom: 4.15vw;
}

.get-inspired .slider {
  margin-bottom: 3.125vw;
  position: relative;
}

.get-inspired .swiper-container {
  width: 64%;
  border-radius: 20px;
}

.get-inspired .swiper-container img,
.get-inspired .swiper-container picture {
  width: 100%;
}

.get-inspired .swiper-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.get-inspired .swiper-navigation .swiper-button-next {
  right: 12%;
}

.get-inspired .swiper-navigation .swiper-button-prev {
  left: 12%;
}

.get-inspired .custom-pagination {
  margin-top: 3.64vw;
}

@media (max-width: 1023.98px) {
  .get-inspired {
    padding: 13.3vw 0 10.6vw 0;
  }

  .get-inspired h2 {
    margin-bottom: 10.6vw;
  }

  .get-inspired .slider {
    margin-bottom: 8vw;
  }

  .get-inspired .swiper-slide {
    padding: 0 4.6vw;
  }

  .get-inspired .swiper-container img,
  .get-inspired .swiper-container picture {
    border-radius: 5.33vw;
  }

  .get-inspired .swiper-navigation {
    display: none;
  }

  .get-inspired .swiper-container {
    width: 100%;
    border-radius: 0;
  }

  .get-inspired .custom-pagination {
    margin-top: 8.8vw;
  }
}

/* #News
================================================== */
.news {
  padding: 4vw 0 6.25vw 0;
  text-align: center;
  background-color: white;
}

.news h2 {
  margin-bottom: 5.2vw;
}

.news ul {
  text-align: right;
  margin: 0 auto 5.2vw auto;
  width: 78%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.news li {
  height: 100%;
}

.news li a {
  display: flex;
  height: 100%;
}

.news li .img {
  flex: 0 0 40%;
}

.news li .img img {
  width: 100%;
  height: 100%;
}

.news li .text {
  max-width: 10.4vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: column;
}

.news li .text p:first-child {
  margin-bottom: 1.45vw;
}

.news li .text p:last-child {
  margin-top: auto;
}

@media (max-width: 1023.98px) {
  .news {
    padding: 10.7vw 0 13.3vw 0;
  }

  .news h2 {
    margin-bottom: 10.24vw;
  }

  .news ul {
    margin: 0 auto 13.3vw auto;
    width: 85%;
  
    display: block;
  }
  
  .news li:not(:last-child) {
    margin-bottom: 13.3vw;
  }

  .news li .img {
    flex: 0 0 50%;
  }

  .news li .text {
    max-width: 100%;
    padding-right: 5.3vw;
  }

  .news li .text p {
    line-height: 1;
  }

  .news li .text p:first-child {
    margin-bottom: 5.3vw;
  }
}

/* #Start
================================================== */
.start {
  padding: 4vw 0 6.25vw 0;
  background-color: var(--color-tiktok-red);
  color: white;
  text-align: center;
}

.start p {
  width: 51%;
  margin: 2.35vw auto;
}

@media (max-width: 1023.98px) {
  .start {
    padding: 17.3vw 0;
  }

  .start p {
    width: 80%;
    margin: 8vw auto 10.6vw auto;
  }
}

/* #Subscribe
================================================== */
.subscribe {
  padding: 6.3vw 0 6.77vw 0;
  text-align: center;
  background-color: white;
}

.subscribe p {
  margin-bottom: 1.8vw;
}

.subscribe .form {
  width: 36.5vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.subscribe .form input[type="text"] {
  flex-grow: 1;
  height: 3.125vw;
  margin-left: 0.52vw;
  border: 1px solid black;
  color: black;
  border-radius: 500px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  transition: all .3s ease;
}

.subscribe .form input[type="text"]:focus {
  box-shadow: inset 0 0 1px 1px black;
}

.subscribe .form input[type="text"]::placeholder {
  color: black;
}

.subscribe .form .top {
  display: flex;
  margin-bottom: 1.66vw;
}

.subscribe .form .bottom {
  display: flex;
  justify-content: center;
}

.subscribe .form .bottom p {
  font-size: 0.83vw;
}

.subscribe .form .toggle-switch {
  margin-left: 0.41vw;
}

@media (max-width: 1023.98px) {
  .subscribe {
    padding: 13.3vw 0;
  }

  .subscribe .container {
    width: 87%;
  }

  .subscribe p {
    margin-bottom: 8vw;
  }

  .subscribe .form {
    width: 100%;
  }

  .subscribe .form .top {
    display: block;
    margin-bottom: 5.3vw;
  }

  .subscribe .form input[type="text"] {
    height: 13.3vw;
    width: 100%;
    margin-left: 0;
    font-size: 5.85vw!important;
    padding: 0 2vw;
    margin-bottom: 2.66vw;
    text-align: center;
  }

  .subscribe .form .btn {
    width: 100%;
  }

  .subscribe .form .bottom p {
    font-size: 3.5vw!important;
    text-align: right;
    font-weight: 400!important;
    line-height: 1;
  }

  .subscribe .form .toggle-switch {
    margin-left: 2.1vw;
  }
}